.buy-button{
    background-color: black;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
}

.coloring{
    color: rgb(255, 174, 0);
}

.gap{
    margin-bottom: 20px;
}
.card-title{
    text-align: center;
}
.middle{
    text-align: center;
}
.card{
    border: none;
}
.card-text{
    text-align: center;
    font-size: small;
}
.card-footer{
    border-top: none;
}